<!DOCTYPE html>
<html>
<head>
	<title>SlideShow du boubou</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="/Users/Yann/GitHub/ShowApp/app/assets/javascripts/jquery.easing.1.3.js"></script>
  	<script src="/Users/Yann/GitHub/ShowApp/app/assets/javascripts/jquery.cycle.js"></script>
  	<link href="/Users/Yann/GitHub/ShowApp/app/assets/stylesheets/styles.css" type="text/css" rel="stylesheet" media="screen" />

<script>
  $(document).ready(function(){
    $("#slideshow").cycle({
      fx: "scrollDown",
      //easing: "easeOutÒBounce", //utilise le plugin easing.js
      delay: -2000
    });
  }); 
 </script>

<body>
<div id="slideshow">
  <%= image_tag("IMG_1305.JPG", :height=>352, :width=>"470"%>
  <img src="/Users/Yann/GitHub/ShowApp/app/assets/images/IMG_1349.JPG" height="352" width="470"/>
  <img src="/Users/Yann/GitHub/ShowApp/app/assets/images/IMG_1392.JPG" height="352" width="470"/>

</div>




</body>
</html>
